repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
helmDefaults:
  createNamespace: true
  timeout: 360
  atomic: true
  verify: false
  wait: true
releases:
  - name: prometheus
    namespace: prometheus
    version: 65.3.1
    chart: prometheus-community/kube-prometheus-stack
    disableValidationOnInstall: true
    wait: true
    waitForJobs: true
    values:
      - prometheus:
          additionalServiceMonitors:
            - name: kubewarden
              selector:
                matchLabels:
                  app: kubewarden-policy-server-default
              namespaceSelector:
                matchNames:
                  - kubewarden
              endpoints:
                - port: metrics
                  interval: 10s
            - name: kubewarden-controller
              selector:
                matchLabels:
                  app.kubernetes.io/name: kubewarden-controller
              namespaceSelector:
                matchNames:
                  - kubewarden
              endpoints:
                - port: metrics
                  interval: 10s
